.job-content {
  color: $color-main;
  width: 100%;

  .form {
    background-color: $color-sub3;
    margin-top: 4vh;
    margin-bottom: 4vh;
    padding: 4vh 0;

    .main-contents {
      h1 {
        color: $color-sub1;
        font-size: 2em;
        font-weight: bold;
        text-align: center;
        margin: 7vh 0;
      }

      h3 {
        margin-bottom: 3vh;
      }
      .title, .term {
        .form-control {
          @include basic_form_style_sp();
        }
      }

      .content, .experience-seeking {
        .form-control {
          color: $color-main;
          border-color: $color-main;
          font-size: 1.2em;
          resize: vertical;
          margin-bottom: 3vh;

          &:focus {
            box-shadow: none;
          }
        }
      }

      .btn-primary {
        background-color: $color-sub2;
      }
      .btn {
        font-size: 1.4em;
        margin: 10vh 0;
        width: 100%;
      }
    }
  }
}
