.clients-profile {
  background-color: $color-main;
  color: $color-main;
  width: 100%;

  .form {
    background-color: $color-sub3;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 7vh 0;

    .welcom-msg {
      h2 {
        font-size: 1.5em;
        font-style: italic;
        letter-spacing: 2px;
        text-align: center;
      }

      p {
        display: block;
        font-size: 1.3em;
        margin: 0 auto;
        width: 30em;
      }
    }

    .main-contents {
      h1 {
        color: $color-sub1;
        font-size: 2em;
        font-weight: bold;
        text-align: center;
        margin: 7vh 0;
      }

      h3 {
        margin-bottom: 4vh;
      }

      .corporate-site {
        .form-control {
          border: none;
          border-bottom: 1px solid $color-main;
          border-radius: 0;
          box-shadow: none;
          font-size: 1.4em;
          font-style: italic;
          font-family: $font-family-main;
          letter-spacing: 1px;
          margin-bottom: 10vh;
          opacity: .6;
        }
      }

      .logo {
        margin-bottom: 10vh;
        position: relative;

        &:hover {
          .picture-info {
            display: block;
          }
        }

        .logo-img {
          border: 1px solid $color-main;
          border-radius: 50%;
          position:relative;
          width: 130px;
          height: 130px;
          overflow: hidden;
          .img-size {
            height: 150px;
            left: -9px;
            position: absolute;
            top: -12px;
            width: 150px;
          }
        }

        .mess {
          font-size: 1.1em;
          margin: 5vh 0 0 3vw;
        }

        .upload-link {
          cursor: pointer;
        }
        .upload {
          color: $color-sub2;
          margin: 2vh 0 2vh 3vw;
        }
      }
    }
  }
}
