<% provide(:title, '発注内容作成') %>

<section class="job-content new-page" id="create-job-content">
  <div class="container">
    <div class="row">
      <div class="form col-md-8 col-md-offset-2">
        <h1>発注内容登録</h1>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <%= form_for(@job_content, url: { controller: :job_contents, action: :create  })do |f| %>
              <%= render 'job_contents/commons/form', { f: f } %>
              <%= f.submit '発注内容登録', class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
