<% provide(:title, 'Verify Email Address') %>
<section class="client-verify-email">
  <h1>会員登録はまだ完了しておりません。</h1>
  <div class="img">
    <%= image_tag 'static_pages/verify_emails/client.png', class: 'verify-img' %>
  </div>
  <h2>
    WorkerBookにご興味をお持ちいただきありがとうございます。<br>
    ただいま、確認メールを送信いたしました。メールボックスを確認の上、登録を完了させてください。<br>
    また、ワーカーへ仕事を発注するにはプロフィールを作成する必要がありますのであらかじめご了承ください。
  </h2>
</section>
