<% provide(:title, '依頼ガイドライン') %>
<section class="rule">
  <div class="container">
    <h1>仕事依頼ガイドライン</h1>
    <div class="rule-block">
      <p>
        WorkerBook（以下「本サービス」といいます）における、仕事依頼ガイドライン細則（以下「ガイドライン」といいます）は、<%= link_to '利用規約', terms_path %>に基づき本サービスにおけるご依頼の順守事項および利用条件を定めています。
      </p>
      <p>本サービスでは、以下の仕事依頼を禁止しています。</p>
    </div>
    <div class="rule-block">
      <h3>第三者の知的財産権の侵害、あるいはその恐れがある仕事</h3>
      <p>
        第三者の知的財産権を侵害もしくはその恐れがある仕事の依頼を禁止しております。
      </p>
      <ol>
        <li>第三者のデザインやソースコードをコピーして制作するように指示している依頼</li>
        <li>その他、上記に該当すると判断した仕事依頼</li>
      </ol>
    </div>
    <div class="rule-block">
      <h3>法律で許認可または登録等を必要とする仕事</h3>
      <p>許認可・登録・届出等が必要となる資格・スキルが必要な仕事など、法律、法令、条例などを順守していない仕事の依頼を禁止しております。</p>
    </div>
    <div class="rule-block">
      <h3>第三者サービスの規約違反などにより運営に影響を及ぼす可能性のある仕事</h3>
      <p>
        第三者サービスの利用規約違反に該当するような仕事の依頼を禁止しております。判断といたしましては、第三者サービスより利用規約違反であるといったご連絡をいただいた事案のみ対応いたします。
      </p>
    </div>
    <div class="rule-block">
      <h3>人材募集等、業務委託契約以外の仕事</h3>
      <p>
        本サービスは、業務委託契約であることをサイト上の<%= link_to '利用規約', terms_path %>で定めております。本サービスを通さない直接契約などの仕事依頼を禁止しております。
      </p>
      <ol>
        <li>勤務地等の記載がある仕事依頼</li>
        <li>雇用契約についての記載がある仕事依頼</li>
        <li>ワーカー（受注者）の業務遂行の場所や時間を指定する内容や、常駐を求める仕事依頼</li>
        <li>その他、上記に該当すると判断した仕事依頼</li>
      </ol>
    </div>
    <div class="rule-block">
      <h3>成果報酬等、固定報酬制以外での仕事</h3>
      <p>本サービスは、ワーカー（受注者）があらかじめ定めた、人日単価を元に報酬額が定められます。成果報酬での仕事依頼を禁止しております。</p>
    </div>
    <div class="rule-block">
      <h3>本サービスを介さずに、お取引の進行を目的と判断される仕事依頼</h3>
      <p>ワーカー（受注者）に対し、連絡の取れる手段を求めるような記載のある仕事依頼を禁止しております。</p>
      <ol>
        <li>こちらまで連絡ください等の内容</li>
        <li>その他、上記に該当すると判断できる仕事依頼内容</li>
      </ol>
    </div>
    <div class="rule-block">
      <h3>その他、問題又は不適切と判断する内容を含む仕事</h3>
      <p>上記に当てはまらない、弊社にて問題がある又は不適切であると判断する内容の仕事依頼を禁止しております。</p>
      <ol>
        <li>フリーランスの方に誤解等を与えるような仕事依頼</li>
        <li>個人情報を収集する仕事依頼</li>
        <li>その他、弊社が不適切であると判断した仕事依頼</li>
      </ol>
    </div>
    <div class="rule-data">
      2017年5月7日制定
    </div>
  </div>
</section>
