<% provide(:title, 'How it works') %>

<section class="select-user-type">
  <div class="container">
    <div class="row">
      <h2>初めての方</h2>
      <div class="area-frame">
        <%= link_to how_it_works_worker_path do %>
        <div class="area col-md-6 col-xs-12" >
          <div class="contents">
            <%= image_tag 'static_pages/sign_up/worker.png', alt: 'Worker', class: 'worker-icon icon' %>
            <h3 class="caption">仕事を受注したい</h3>
          </div>
        </div>
        <% end %>
        <%= link_to how_it_works_client_path do %>
        <div class="area right col-md-6 col-xs-12">
          <div class="contents">
            <%= image_tag 'static_pages/sign_up/client.png', alt: 'Client', class: 'client-icon icon' %>
            <h3 class="caption">仕事を依頼したい</h3>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
