<% provide(:title, 'プライバシーポリシー') %>
<section class="privacy">
  <div class="container">
    <h1>プライバシーポリシー</h1>
    <div class="copyright-date">
      <ul>
        <li>制定　2017年6月7日</li>
        <li>Lobo株式会社</li>
        <li>代表取締役　龍頭　翼</li>
      </ul>
    </div>
    <div class="copyright-block">
      <p>
        Lobo株式会社（以下「当社」）は、以下のとおり個人情報保護方針を定め、個人情報保護の仕組みを構築し、全従業員に個人情報保護の重要性の認識と取組みを徹底させることにより、個人情報の保護を推進致します。
      </p>
    </div>
    <div class="copyright-block">
      <h3>個人情報とは</h3>
      <p>
        「個人情報」とは、氏名、郵便番号、住所、電話番号、メールアドレス、クレジットカード番号など個人を識別できる情報を指します。
        本サービスでは、ユーザが個人情報を送信し、その他当社所定の方法で取得することを了承した場合にのみ収集されます。
      </p>
    </div>
    <div class="copyright-block">
      <h3>個人情報の管理</h3>
      <p>
        当社は、お客さまの個人情報を正確かつ最新の状態に保ち、個人情報への不正アクセス・紛失・破損・改ざん・漏洩などを防止するため、セキュリティシステムの維持・管理体制の整備・社員教育の徹底等の必要な措置を講じ、安全対策を実施し個人情報の厳重な管理を行ないます。
      </p>
    </div>
    <div class="copyright-block">
      <h3>個人情報の利用目的</h3>
      <p>
        本サービスでは、本サービスをご利用いただくにあたって、ユーザに個人情報を登録していただく場合があります。 ご登録いただいたユーザの個人情報は、次の目的のために使用し、その情報は厳重に管理します。
        <ol>
          <li>サービスの提供・管理・運営のため</li>
          <li>サービスの充実・改善・検討・調査のため</li>
          <li>サービス提供・広告配信・コンテンツ改善などで最適な情報分析に利用するため</li>
          <li>本サービスの運営を目的とする個人情報が特定されない統計データを収集・作成送付するため</li>
          <li>ユーザーがサービスを利用するにあたり必要な連絡をするため</li>
          <li>ユーザが本サービスを利用するにあたりSNS等の外部サービスとの連携を許可した場合に、当該外部サービス上登録された情報を本サービスにおいて使用するため、又は当該外部サービスに対し情報を提供するため</li>
          <li>有料プラン等を利用するユーザーに、利用料金を請求するため</li>
          <li>ご利用履歴管理のため</li>
          <li>お問合せ対応のため</li>
          <li>取引上の連絡、問合せ、契約締結などのため</li>
          <li>前各号のほか、個人情報保護法によって許された目的のため</li>
        </ol>
        上記以外に利用の必要がある場合は、事前にその旨を連絡させていただきます。
      </p>
    </div>
    <div class="copyright-block">
      <h3>個人情報の第三者への開示・提供の禁止</h3>
      <p>
        当社は、お客様よりお預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。
        <ol>
          <li>ユーザーが情報提供に同意を与えた場合</li>
          <li>お客さまが希望されるサービスを行なうために当社が業務を委託する業者に対して開示する場合</li>
          <li>ユーザーと当社が契約の当事者になった場合で、当該契約の準備又は履行のため必要な場合</li>
          <li>ユーザーの生命・健康・財産等の重大な利益を保護するため必要な場合</li>
          <li>公共の利益の保護又は当社若しくは個人情報の開示の対象となる第三者の法令に基づく権限行使のため必要な場合</li>
          <li>当社が、ユーザーの属性の集計、分析を行い、個人が識別・特定できないように加工したもの（以下「統計資料」と称します）を作成し、新規サービスの開発等の業務遂行のために利用、処理する場合。また、当社が、統計資料を業務提携先等に提供する場合。</li>
          <li>ユーザーの利益を侵害しない範囲内において、当社及び個人情報の開示の対象となる第三者その他当事者の利益のため必要な場合</li>
          <li>申出が、裁判所、検察庁、若しくは行政機関の命令に基づく場合、または警察等の行政機関から捜査権限を定める法令に基づき正式な照会を受けた場合、プロバイダ責任制限法その他の法令に基づく場合、又は弁護士法23条の2等の法令に基づく申出に伴う場合（法令に定める要件充足性は当社が判断できるものとします）</li>
          <li>法令に基づき開示することが必要である場合</li>
          <li>当社が、本サービスにかかる事業を第三者に譲渡した場合（ここには、会社分割その他事業が移転するあらゆる場合を含みます）</li>
          <li>前各号のほか、個人情報保護法によって許された目的のため</li>
        </0l>
      <p>
    </div>
    <div class="copyright-block">
      <h3>個人情報の安全対策</h3>
        <p>当社は、個人情報の正確性及び安全性確保のために、セキュリティに万全の対策を講じています。</p>
    </div>
    <div class="copyright-block">
      <h3>ご本人の照会</h3>
      <p>
        お客さまがご本人の個人情報の照会・修正・削除などをご希望される場合には、ご本人であることを確認の上、対応させていただきます。
      </p>
    </div>
    <div class="copyright-block">
      <h3>法令、規範の遵守と見直し</h3>
      <p>
        当社は、保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、本ポリシーの内容  を適宜見直し、その改善に努めます。
      </p>
    </div>
    <div class="copyright-contact">
      <h3>クッキー(Cookie)について</h3>
      <p>
        当社は、本サービスのコンテンツの提供を管理・維持したり、新しいサービスを検討したり、ログイン情報管理や広告配信のために端末情報をクッキーにて利用しております。ユーザがクッキーの受入を拒否する場合、本サービスの一部が利用できないことがあります。
      </p>
    </div>
    <div class="copyright-contact">
      <h3>お問い合わせ</h3>
      <p>
        当社の個人情報の取扱に関するお問い合せは下記までご連絡ください。
        <ul>
          <li>Lobo株式会社</li>
          <li>Mail: privacy@lobo-inc.com</li>
        </ul>
      </p>
    </div>
  </div>
</section>
