<% provide(:title, 'Sign up') %>

<section class="select-signup-type">
  <div class="container">
    <div class="row">
      <%= link_to '' do %>
      <div class="client-area col-md-6" >
        <div class="contents">
          <%= image_tag 'static_pages/sign_up/client.png', alt: 'Client', class: 'client-icon icon' %>
          <h1 class="caption">I want to hire a freelance engineer</h1>
          <p><span class="glyphicon glyphicon-hand-up"></span>Click Here</p>
        </div>
      </div>
      <% end %>
      <%= link_to '/worker/sign_up' do %>
      <div class="worker-area col-md-6">
        <div class="contents">
          <%= image_tag 'static_pages/sign_up/worker.png', alt: 'Client', class: 'worker-icon icon' %>
          <h1 class="caption">I want to recieve a creative works order</h1>
          <p><span class="glyphicon glyphicon-hand-up"></span>Click Here</p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>
