<section class="terms">
  <div class="container">
    <h1>利用規約</h1>
    <div class="terms-block">
      <p>
        本利用規約（以下「本規約」といいます。）には、Lobo株式会社（以下、弊社）が提供する、個人間や個人と法人間で仕事が直接取引できる仕事マーケットプレイス
        「WorkerBook」（以下、本サイト）を利用する個人および法人（以下、ユーザ）と、
        本サイトを利用するために会員登録を行った個人および法人（以下、会員）との利用条件を定めるものとします。
        また、本規約は本サイトの利用に関して生ずるすべての関係に適用されるものとし、会員およびユーザは、本規約を熟読し、
        本規約の内容を十分に理解した上でこれを承諾して、本サイトを利用するものとします。
      </p>
    </div>
    <div class="terms-block">
      <h3>第１条　定義</h3>
      <p>
        本規約の中で使用される以下の各用語は、次の通りとします。
      </p>
      <ol>
        <li>「本サイト」　Lobo株式会社がインターネット上で提供する「WorkerBook」をいいます。「本サイト」には、文脈上許される限り、後に定義する「本サービス」も含まれるものとします。。</li>
        <li>「弊社」　Lobo株式会社</li>
        <li>「会員」　本規約を承認し、本サイトを利用するために、所定の入会登録を行い、弊社がその入会登録を承認した個人及び法人をいいます。</li>
        <li>
          「ユーザ」　会員、会員登録の申込者、及び本サイトの閲覧者など、本サイトの利用を認められる個人および法人をいいます。
          また、特に断らない限り、サイト閲覧者も含まれるものとし、本規約上でユーザという場合は第3項で定義した会員も含まれるものとします。
        </li>
        <li>「本サービス」　本サイトにおいて、又は本サイトを使用して弊社が会員又はユーザに対し提供する一切のサービスをいいます。</li>
        <li>「クライアント」　本サイトにおいて、業務を委託、依頼し又は委託、依頼しようとする会員をいいます。</li>
        <li>「ワーカー」　本サイトにおいて、業務を引き受け、又は引き受けようとする会員をいいます。</li>
        <li>「タスク方式」 本サイトにおいて、クライアントの業務委託、依頼に対して、ワーカー1人若しくは複数人が作業を行い、クライアントがこれに報酬を支払う機能をいいます。</li>
        <li>「人日単価」　一人当たりの1日の作業単価をいいます。本サイトでは、1日の時間は各ワーカーが指定した時間とします。</li>
        <li>「人月単価」　一人当たりのひと月の作業単価をいいます。本サイトでは、ひと月は22日とし、計算します。ただし、必ずしも22日間の作業日数があるとは限らないものとします。</li>
        <li>「固定報酬制」 本サイトを通した業務委任、委託に対してクライアントからワーカーへの報酬を、ワーカーが予め決定した人月単価に対して報酬を支払う制度をいいます。</li>
        <li>「業務委託契約」　民法第656条に定められている、準委任契約をいいます。</li>
        <li>「本取引」　本サービスを利用して行われるクライアントとワーカーの間での業務委託契約をいいます。</li>
        <li>「依頼金額」　本サイトにおいて、クライアントからワーカーに対して支払うすべての報酬を合計した金額をいいます。</li>
        <li>「エスクロー」　弊社が、本規約にしたがってクライアントとの契約に基づき、クライアントがワーカーに支払うべき報酬その他の金員を、ワーカーに立替払し、又は、ワーカーの委託に基づき収納代行し、ワーカーに支払うサービスをいいます。</li>
        <li>「登録情報」　会員登録手続で入力・提供された一切の情報をさします</li>
        <li>「個人情報」　住所・氏名・電子メールアドレス等特定の個人を識別できる情報をいいます。</li>
        <li>「秘密情報」　会員がサービスを通じて他の会員から得た、技術、開発、製品、営業、計画、ノウハウなどに関する一切の情報のことをいいます。</li>
      </ol>
    </div>
    <div class="terms-block">
      <h3>第２条　本規約への同意及び本規約の変更</h3>
      <ol>
        <li>
          本規約は、弊社が提供する本サイトを利用するユーザとの関係を定めるものとします。また、本規約は本サイトの利用に関して生ずる、
          ワーカーとクライアントの間、会員間等、すべての法律関係に適用されるものとします。
          また、弊社の判断により事前の予告なく変更・追加・削除されることがあります。
          ユーザーは、本規約変更後に本サイトを利用した場合には、変更された本規約の内容に同意したものとみなされます。
          規約の変更・追加によりユーザに生じた一切の損害について、直接損害か間接損害か、予見できたか否かを問わず、一切の責任を負いません。
        </li>
        <li>
          本規約中、ワーカーとクライアントの間の法律関係を定める規定、及びワーカー又はクライアントと弊社、
          他の会員又は第三者との法律関係を定める規定については、当該ワーカー及びクライアントは、いずれも、
          消費者契約法2条2項にいう事業者の立場としてこれに同意するものとします。
        </li>
      </ol>
    </div>
    <div class="terms-block">
      <h3>第３条　会員登録</h3>
      <ol>
        <li>会員登録手続は、会員となる本人が行うものとします。会員となる本人以外が行う登録は一切認められません。</li>
        <li>会員は、会員登録時及び会員登録後に、本サイトを利用するにあたり、真実の内容にて会員登録を行ってください。</li>
        <li>登録内容の変更がある場合は、会員は直ちに登録内容を修正し、常に会員自身の正確な情報が登録されているよう、管理・修正する責任を負います。また、会員連絡先情報は必ず登録するものとします。</li>
        <li>会員は、１つのアカウントを保有するものとします。複数のアカウントを保有することは出来ません。ただし、弊社が別に認めたものを除きます。</li>
        <li>会員は、いかなる場合においても、アカウントを第三者に譲渡・販売・貸与・その他の処分をすることは出来ません。</li>
        <li>
          会員が前項の規定に違反したために被った損害について、直接損害か間接損害かを問わず、弊社は一切責任を負いません。
          会員は、会員が前各項の規定に違反したために第三者が被った損害がある場合、会員が当該第三者に責任を負うものとし、弊社は一切責任を負いません。
        </li>
      </ol>
    </div>
    <div class="terms-block">
      <h3>第４条　会員資格</h3>
      <ol>
        <li>
          本サイトへの会員登録の条件は以下のとおりとします。
          <ol>
            <li>未成年である場合には法定代理人の包括的な同意を得ていること。</li>
            <li>電子メールアドレスを保有していること。</li>
            <li>既に本サービスの会員となっていないこと。</li>
            <li>本規約の全ての条項に同意すること。</li>
            <li>自らが反社会的勢力でなく、過去にも反社会的勢力でなく、反社会的勢力を利用したことがないこと、かつ、自己の主要な出資者又は役職員が反社会的勢力の構成員でないこと</li>
          </ol>
        </li>
        <li>
          前項のほか、以下に該当する場合、弊社は会員登録の申し込みを承諾しないことができます。
          <ol>
            <li>第5条1項各号に定める事由があると認められる方</li>
          </ol>
        </li>
        <li>
          弊社が、会員登録の申込を承諾しない場合、当該申込者に対し、承諾しない理由を開示したり説明したりする義務を負わず、
          承諾しないことによって申込者に生じる損害については一切責任を負いません。
        </li>
      </ol>
    </div>
    <div class="terms-block">
      <h3>第５条　会員資格の取り消し等</h3>
        <ol>
          <li>弊社は、会員につき、以下の各号のいずれかに該当する場合は、会員資格を取り消したり、一時的に停止したり、
            会員資格に伴う権利自体を取り消したり、又は、将来にわたって本サイトのご利用をお断りする場合があります。
            また、会員資格が取り消されるものとします。
            <ol>
              <li>不実又は誤認を与える内容にて申込みが行われた場合</li>
              <li>該当ユーザが、過去に他のユーザとの取引において契約上の義務を怠ったことがある場合。また、今後も怠る恐れがあると弊社が判断した場合</li>
              <li>法令又は本規約に違反した場合</li>
              <li>不正行為があった場合</li>
              <li>本規約第１５条、ご利用ガイド及び各種ガイドラインに定める禁止行為を過去に行い、又は将来行うおそれがあると認められる場合</li>
              <li>会員資格を満たしていないことが明らかになり、又は満たさなくなった場合</li>
              <li>他の会員や第三者とのトラブルが、故意・過失を問わず、弊社一定水準を超えた場合</li>
              <li>本サイトの継続的な提供が合理的な理由により困難であると弊社が判断した場合</li>
              <li>その他、弊社が、業務の遂行上著しい支障があると判断した場合</li>
            </ol>
          </li>
          <li>
            弊社は、前項によって定める処置により生ずる一切の損害について、直接的か間接的かを問わず、一切の責任を負わないものとします。
            弊社は、前項に定める措置をなした時点で当該会員に支払われることとなっていた金銭について、
            弊社の判断により、一定期間その支払を留保したり、支払をせずに弊社が指定する他の方法により精算したりすることができるものとします。
          </li>
        </ol>
    </div>
    <div class="terms-block">
      <h3>第６条　会員の退会</h3>
      <p>
        会員が退会を希望する場合は、本サイトの所定ページにより退会することができます。
        ただし、退会の手続を行った時点で、会員間取引の決済など取引の手続が未完のものがある場合は退会することができません。
        そのため、会員は、一連の未完の会員間取引を本規約に従って遅滞なく円滑に進め、完了させた後、退会手続を行うことができるものとします。
      </p>
    </div>
    <div class="terms-block">
      <h3>第７条　本サイトの役割と取引の責任について</h3>
      <ol>
        <li>弊社は本サイトによる情報提供を通じて、業務委託契約を行うためのツール及びプラットフォームの提供を行います。</li>
        <li>会員が本サイトを利用して行う他の会員との取引は、会員同士の直接の事業取引となります。弊社は契約当事者になりません。</li>
      </ol>
    </div>
    <div class="terms-block">
      <h3>第８条　本サイトの利用について</h3>
      <ol>
        <li>本サイトは「自分自身でした約束は守る」というユーザの誠意を前提にしています。</li>
        <li>会員は仕事の依頼において、正確かつ適切な内容を登録することとします。会員が本サイト内で登録・掲載した仕事（その他本サイト内で発信した事項を含む）に関する一切の責任は、当該会員が負うものとします。</li>
        <li>
          登録された情報が真実に反する場合、又は第１５条の禁止事項に該当する場合は、弊社は予告なくデータを削除することがあります。
          ただしこれらのことは、弊社が削除の義務を負っていること、又は登録された情報が真実に反しないことを保証する義務を負っていることのいずれをも意味しません。
        </li>
        <li>会員はあらゆる登録において、登録内容を明確にする必要があります。「詳細はこちらまでご連絡下さい。」などと本サイト外へ誘導する行為を行ってはなりません。</li>
        <li>会員はクライアントが依頼する内容と、直接関係のない提案やファイルのアップロードを行ってはなりません。</li>
      </ol>
    </div>
    <div class="terms-block">
      <h3>第９条　本サイトの利用料について</h3>
      <ol>
        <li>
          本サイトは、会員登録、仕事登録などすべて無料でご利用頂けます。成約時のシステム利用手数料のみをお支払い頂きます。
          業務委託、依頼された作業が完了し、クライアントから承諾し確定された場合、ワーカーは弊社に対し、クライアントからワーカーへ支払われる
          報酬のうち、8%をシステム利用料としてお支払い頂きます。
          なお、会員同士が取引する金額や以下の利用手数料については、別段の定めがない限り、すべて消費税が含まれるものとします。
        </li>
        <li>
          ご利用にかかる料金は、本規約の条件に従い、弊社指定口座へのお振込、クレジットカード又によりお支払い頂きます。
          ただし、弊社は個別の案件について、随時支払方法を制限することができるものとします。また、成約時のシステム利用手数料については、クライアントからワーカー
          に支払われると同時にワーカーから弊社に支払われること、その支払い方法はワーカーが受け取る支払報酬から弊社がシステム利用手数料を直接控除することに同意
          するものとします。なお、弊社からクライアント又はワーカーに対して支払い・返金・払い戻し等をする場合は、日本国内の銀行に対してのみ行えるものとし、
          振込手数料はクライアント又はワーカーが負担するものとします。
        </li>
      </ol>
    </div>
    <div class="terms-block">
      <h3>第１０条　会員取引の原則</h3>
      <ol>
        <li>弊社は、会員間取引に関する一切の事項について、一切責任を負わないものとします。</li>
        <li>双方の会員は成立した契約に従って会員間取引を完了する義務があります。会員間取引で発生する各種作業・連絡・法的義務の履行・トラブル対処等については、会員同士で行うものとします。</li>
        <li>
          本サービスを利用してクライアントとワーカー間に成立する契約をいかなる意味でも雇用契約又は類似の労働契約とはしないものとし、これがいかなる契約の形式による場合であっても、
          クライアントは当該契約に基づくワーカーによる業務遂行の場所及び時間について指定又は管理することによって拘束したり、業務内容及び遂行方法について業務委託に必要な限度を超えて指揮命令したりしてはならず、
          これらに反する内容でのクライアントとワーカー間の定めは無効とします。本項の規定は、クライアントとワーカー間のいかなる合意にも優先して適用されます。
        </li>
        <li>クライアントは、仕事の開始日までに、弊社に対して、ワーカーへの報酬額を弊社指定口座への振込、クレジットカードにより支払うものとします。</li>
        <li>本サービス内において、クライアントとワーカーの間で、業務内容・期限・報酬額等の契約内容が確定し、その内容にしたがって実施する意思が相互に確認された時点で、当事者間で業務委託契約が締結されるものとします。</li>
        <li>
          前項の契約締結に際して、クライアントとワーカーの間で業務内容・期限・報酬額等以外に瑕疵担保責任の有無等の取決めを行う必要がある場合は、
          当事者間で別途合意するものとし、弊社はその合意の存否及び内容について関知せず、その結果生じた損害について一切の責任を負わないものとします。
        </li>
        <li>ワーカーは、契約に従った業務の遂行・完成・成果物の引渡し義務を負います。</li>
        <li>
          成果物の譲渡可能なすべての権利（著作権法27条及び28条の権利を含みます。）はワーカーからクライアントに譲渡されるものとします。
          その対価として、ワーカーは報酬を受け取るものとします。
        </li>
        <li>クライアントは、ワーカーが行った作業に対して、依頼内容との合致や作業の有無又は回数を個々に判断して承諾作業を行うものとします。合理的な理由が無い作業拒否、又は作業内容の品質による作業拒否、又は作業承諾確定後に作業拒否をすることは出来ません。</li>
        <li>クライアントは、作業承諾確定後は、ワーカーの同意がない限り、これら修正等又は確認等を求める権利を有さないものとします。</li>
        <li>
          作業承諾確定の時点で、ワーカーからクライアントに対する報酬請求権が発生するものとします。
          この場合、弊社は速やかに決済完了手続に着手するものとし、同手続において、第９条一項に定める弊社手数料を差し引くことができるものとします。作業承諾確定後においては、作業承諾の取消や報酬支払いの拒否は出来ないものとします。
        </li>
        <li>
          クライアントからワーカーへの報酬支払いの形式は、固定報酬のみとします。固定報酬については以下の定めのとおりとします。
          <ol>
            <li>ワーカーがあらかじめ定めた、人日単価を元に人月単価を計算し、契約月数分をクライアントはワーカーへの報酬額とする。</li>
            <li>
              クライアントは、プロジェクトを構成する個々の計画につき、ワーカーがこれに着手する前に、第９条2項に従い、料金のお支払い手続きを行い、
              仮入金の手続を行うものとします。仮入金の手続の遅延によるプロジェクトの遅延については、ワーカーは責任を負わないものとします。
            </li>
            <li>
              ワーカーからクライアントへの連絡が合理的な理由もなく 7日以上行われなかった場合、クライアントからの要請により、弊社はワーカーへ連絡催促を行います。
              その連絡催促の日から7日経過後も、ワーカーからクライアントへ連絡がされず、又は業務終了報告手続を行わない正当な理由の説明と客観的証拠による立証がない場合は、
              ワーカーは仮入金手続の解除及び契約の解除に同意したものとみなします。
            </li>
            <li>
              プロジェクトの成果物の譲渡可能なすべての権利（著作権法27条及び28条の権利を含みます。）は、個々の計画の成果物ごとに、支払確定時に、ワーカーからクライアントに譲渡されるものとします。
              その対価は、ワーカーがクライアントから受け取る報酬に含まれるものとします。
            </li>
          </ol>
        </li>
      </ol>
    </div>
    <div class="terms-block">
      <h3>第１１条　決済完了手続きについて</h3>
      <ol>
        <li>
          本サービスでの決済完了手続きについては、弊社が別に決済条件を明示した場合を除き、エスクローによるものとします。
          このエスクローは、クライアントのワーカーに対する報酬支払決済の代行を目的としており、クライアントは、クレジットカード決済、銀行決済が利用できるものとします。
        </li>
        <li>
          クレジットカード決済及び後払いの銀行決済の場合は、弊社は、クライアントの委託を受けてワーカーに対して報酬の立替払を行うものとし、
          弊社とクライアントとの間には報酬立替払委託契約が成立するものとします。この場合、ワーカーは、弊社が報酬の立替払をなすことに異議を唱えません。
        </li>
        <li>
          本条二項の契約の成立は、弊社とクライアント間、又は弊社とワーカー間で改めて意思表示をなすことなく、クライアントが決済方法を選択した時点で当然に成立するものとします。
        </li>
        <li>
          決済完了手続を行おうとする業務委託契約については、クライアント・ワーカーが相互に相手方に対し履行の責任を持つものとします。
          弊社は、クレジットカード決済によってクライアントと立替払委託契約を締結した場合には、クライアントに対して、ワーカーに対する報酬立替払義務その他当該立替払委託契約から直接的に発生する義務のみを負うものとします。
        </li>
        <li>
          本条四項の義務以外には、譲渡契約又は業務委託契約に関し、直接的か間接的かを問わず、一切責任を負いません。
        </li>
        <li>クレジットカード決済の場合、弊社は、立替払委託契約に基づき、ワーカーに対して報酬の立替払を行い、本サービス内の入出金履歴に記録された報酬支払い日時を以て、クライアントからワーカーへの報酬の弁済がされたものとします。</li>
        <li>
          本サイトのエスクローにおいて、会員同士のトラブルで長期間支払が確定されなかったり、クレジットカード決済のシステムのトラブル、又はその他の理由により、エスクローを継続できず又は継続が困難である場合、
          弊社は弊社の裁量による判断に基づき、クライアントとの間のエスクローを解除・返金することができるものとします。
          その場合、弊社は第８条で定める利用手数料を請求しませんが、同エスクローの解除・返金のために会員が被った損害について、直接損害か間接損害かを問わず、弊社は一切責任を負いません。この場合、未精算の報酬の支払は別途当該会員同士で支払われるものとします。
        </li>
        <li>
          エスクローにおいて、クレジットカード事故やその他の理由によって、エスクローを継続できない場合は、会員は速やかに弊社に連絡を行い、代替の手段によってエスクローを行う義務があります。
          また、このために会員が被った損害について、直接損害か間接損害かを問わず、弊社は一切責任を負いません。
        </li>
      </ol>
    </div>
    <div class="terms-block">
      <h3>第１２条　利用環境の整備</h3>
      <p>
        ユーザーは、本サイトを利用するために必要な通信機器、ソフトウェア、その他これらに付随して必要となる全ての機器を、
        自己の費用と責任において準備し、本サイトが利用可能な状態に置くものとします。また、自己の費用と責任で、任意の電気通信サービスを経由して本サイトに接続するものとします。
      </p>
    </div>
    <div class="terms-block">
      <h3>第１３条　自己責任の原則</h3>
      <p>
        ユーザは、ユーザによる本サイトの利用とその本サイトを利用してなされた一切の行為とその結果について一切の責任を負います。
        ユーザは、本サイトの利用により本サイト又は他者に対して損害を与えた場合（ユーザが、本規約等における義務を履行しないことにより他者又は本サイトが損害を被った場合を含みます。）、自己の責任と費用をもって損害を賠償するものとします。
      </p>
    </div>
    <div class="terms-block">
      <h3>第１４条　ユーザーIDおよびパスワードの管理</h3>
      <ol>
        <li>会員は，自己の責任において，本サービスのユーザーIDおよびパスワードを管理するものとします。</li>
        <li>
          会員は，いかなる場合にも，ユーザーIDおよびパスワードを第三者に譲渡または貸与することはできません。
          弊社は，ユーザーIDとパスワードの組み合わせが登録情報と一致してログインされた場合には，そのユーザーIDを登録しているユーザー自身による利用とみなします。
        </li>
        <li>会員は、会員ID等の盗用、紛失、第三者による不正利用に起因する、一時的な本サイトの使用停止等についての調査、生じた損害、得べかりし利益等の一切を弊社に請求できないこととします。</li>
      </ol>
    </div>
    <div class="terms-block">
      <h3>第１５条　本サイトの取引に関する禁止事項</h3>
      <ol>
        <li>
          本サービスの利用者が、以下に定める行為を行うことを禁止します。
          <ol>
            <li>弊社、他の利用者若しくは第三者の著作権、商標権等の知的財産権を侵害する行為、又は侵害するおそれのある行為。</li>
            <li>他の利用者若しくは第三者の財産、プライバシー若しくは肖像権を侵害する行為、又は侵害するおそれのある行為。</li>
            <li>本規約等若しくは法令に違反する行為、詐欺等の犯罪に結びつく行為、犯罪を扇動し、教唆する行為。</li>
            <li>特定個人の氏名・住所・電話番号・メールアドレスなど第三者が見て個人を特定できる情報を第三者に提供する行為。</li>
            <li>一人の利用者が複数のメールアドレス等を登録して重複して会員登録を行う行為。</li>
            <li>会員資格を停止ないし無効にされた会員に代わり会員登録をする行為。</li>
            <li>人種差別、部落差別その他の差別を意識させる行為</li>
            <li>他の利用者若しくは第三者を差別もしくは誹謗中傷し、又は他者の名誉若しくは信用を毀損する行為。</li>
            <li>アクセス可能な本サービス又は他者の情報を改ざん、消去する行為。</li>
            <li>弊社又は他者になりすます行為（詐称するためにメールヘッダ等の部分に細工を行う行為を含みます。）。</li>
            <li>有害なコンピュータプログラム等を送信し、又は他者が受信可能な状態におく行為。</li>
            <li>
              他者に対し、無断で、広告・宣伝・勧誘等の電子メール又はメッセージ（以下「電子メール等」といいます。）
              若しくは嫌悪感を抱く電子メール等そのおそれのある電子メール等を含みます。）を送信する行為。他者の電子メール等の受信を妨害する行為。
              連鎖的な電子メール等の転送を依頼する行為及び当該依頼に応じて転送する行為。
            </li>
            <li>
              他者の設備若しくは本サイト用設備（弊社が本サイトを提供するために用意する通信設備、電子計算機、その他の機器及びソフトウェアを言い、以下同様とします。）
              に無権限でアクセスし、又はポートスキャン、DOS攻撃若しくは大量のメール送信等により、その利用若しくは運営に支障を与える行為、又は支障を与えるおそれのある行為。
            </li>
            <li>本サイトを介さずに行う直接取引やそれを勧誘する行為、又は、勧誘に応じる行為。（本サービスで取引開始をした会員と再度取引する場合を含む）</li>
            <li>
              本サイト外で本サイト及び本サイト付随機能を商業目的で利用する行為、無限連鎖講及びマルチ商法、又はそれに類するもの、その恐れのあるもの、
              あるいは弊社が無限連鎖講及びマルチ商法、又はそれに類するもの、その恐れのあるものと判断する内容を掲載する行為。
            </li>
            <li>サーバ等のアクセス制御機能を解除又は回避するための情報、機器、ソフトウェア等を流通させる行為。</li>
            <li>本人の同意を得ることなく、又は詐欺的な手段（いわゆるフィッシング及びこれに類する手段を含みます。）により他者の会員登録情報を取得する行為。</li>
            <li>弊社が事前に書面をもって承認した場合を除く、本サイトに基づく業務委託以外を目的とした本サイトを使用した営業活動、本サイトに基づく業務委託以外の営利活動を目的とした本サイトの利用、又はその準備を目的とした本サイトの利用 。</li>
            <li>法令に基づき監督官庁等への届出、許認可の取得等の手続きが義務づけられている場合に、当該手続きを履行せずに本サイトを利用する行為。その他当該法令に違反する、又は違反するおそれのある行為。</li>
            <li>本サイトの運営を妨害する行為。他の利用者又は第三者が主導する情報の交換又は共有を妨害する行為。信用の毀損又は財産権の侵害等のように弊社、利用者又は他者に不利益を与える行為。</li>
            <li>長時間の架電、同様の問い合わせの繰り返しを過度に行い、又は義務や理由のないことを強要し、弊社の業務に著しく支障を来たす行為。</li>
            <li>口コミサイトやブログに、ある商品又はサービスについて実際のものより著しく優良・有利だと誤認させる内容を記載することを依頼する行為。</li>
            <li>ワーカーの承諾の有無にかかわらず、委託された業務の内容に照らして、報酬額が著しく低いと弊社が判断する金額で業務を依頼する行為、または業務を開始する行為。</li>
            <li>仮払いが完了される前に業務を依頼する行為、又は業務を開始する行為。</li>
            <li>依頼内容と明らかに異なる追加注文行為。</li>
            <li>クライアントの依頼内容と明らかに異なる成果物の提案や、依頼とは別の目的で作成された成果物を提案として行う行為。</li>
            <li>クライアントが自身若しくは自身の影響下にある利害関係者の提案を採用する行為 。</li>
            <li>クライアントの依頼内容と明らかに異なるタスク作業の提示や、同一の内容のタスク作業を繰り返し提示する行為。</li>
            <li>上記各号の他、法令、又は本利用規約に違反する行為。公序良俗に違反する行為（暴力を助長し、誘発するおそれのある情報又は残虐な映像を送信又は表示する行為や心中の仲間を募る行為等を含みます。）。その他迷惑行為。</li>
            <li>上記各号のいずれかに該当する行為（当該行為を他者が行っている場合を含みます。）を助長する目的で他のサイトにリンクを張る行為。</li>
            <li>その他弊社が利用者として不適当と判断した行為。</li>
          </ol>
        </li>
        <li>ユーザが前項各号に違反し、弊社、他のユーザ又は他者に対して損害を与えた場合、故意過失を問わず、会員は自己の責任と費用をもって損害を賠償するものとします。</li>
        <li>本条第1項各号の内容は、本規約改定により適宜追加修正される場合があるものとし、ユーザは、本サイトの利用にあたり、常に最新の内容を確認する義務を負うものとします。</li>
      </ol>
    </div>
    <div class="terms-block">
      <h3>第１６条　本取引の成果物等に関する知的財産権及びその利用</h3>
      <ol>
        <li>弊社は、第三者の知的財産権を尊重しております。</li>
        <li>
          本サイトを通じてワーカーがクライアントに対して納品した成果物に関する著作権等 の知的財産権（著作権法第27条及び第28条の権利を含みます。）は、
          本取引の業務が完了するまでの間はワーカーに帰属するものとし、本取引の業務が完了した段階でクライアントに移転・帰属するものとします
          （ワーカーが本取引開始前より有している知的財産権（以下「留保知的財産権」といいます。）を除きます。但し、ワーカーはクライアントに対し、
          当該成果物を利用するために必要な範囲で留保知的財産権の利用（第三者への使用許諾を含む。）を無償で許諾するものとします。）。但し、第三者の保有する知的財産権について、
          第三者の許可を得た上でワーカーが成果物に利用した場合、該当する知的財産権は、第三者に帰属し、クライアントに移転・帰属しないものとします。
          また、ワーカーはクライアントに対して、当該成果物にかかる著作者人格権を行使しないものとします。本取引の中において別途取決めがある場合は、同取決めを優先します。
        </li>
        <li>
           前項にかかわらず、本取引成立後、ワーカーが成果物の引渡し義務の履行を遅滞し、クライアントがその履行を催告したにもかかわらず、ワーカーが１週間以内に成果物を納品しない場合、
           同期間の経過をもって、ワーカーが提案した成果物に関する著作権等の知的財産権は、クライアントに移転・帰属するものとします。
        </li>
        <li>著作権以外の権利の侵害については、本条に準じて取り扱うものとします。</li>
      </ol>
    </div>
    <div class="terms-block">
      <h3>第１７条　本サイトの知的財産権</h3>
      <ol>
        <li>本サイトで弊社が作成・提供する画像、テキスト、プログラム等に関する著作権等の一切の知的財産権は、弊社に帰属します。</li>
        <li>ユーザーは、本サイトで弊社が作成・提供する画像、テキスト、プログラム等に関して、一切の権利を取得することはないものとし、権利者の許可なく、所有権、著作権を含む一切の知的財産権、肖像権、パブリシティー権等、コンテンツ素材に関する権利を侵害する一切の行為をしてはならないものとします。</li>
      </ol>
    </div>
    <div class="terms-block">
      <h3>第１８条　サイトの中断・停止・終了</h3>
      <ol>
        <li>弊社は、システム障害及び保守、停電や火災などの天変地異、その他技術上・運営上の理由により、本サービスの提供が困難であると判断した場合、利用者への事前通知を行わず、本サービスの中断を行う場合があります。</li>
        <li>弊社は2週間前までに、会員に電子メールでの通知及び本サービスの提供を行うWebサイト上で告知を行うことにより、本サービスの停止及び終了を行うことができるものとします。</li>
        <li>弊社は、本条に基づき弊社が行った措置に基づき利用者に生じた損害について一切の責任を負いません。</li>
      </ol>
    </div>
    <div class="terms-block">
      <h3>第１９条　監視業務</h3>
      <p>
        弊社は、ユーザーが本サービスを適正に利用しているかどうかを監視する業務を弊社の裁量により行うものとし、ユーザーはそれに同意するものとします。
      </p>
    </div>
    <div class="terms-block">
      <h3>第２０条　規約違反への対処及び違約金等</h3>
      <ol>
        <li>
          弊社は、ユーザが本規約等に違反した場合若しくはそのおそれのある場合、ユーザによる本サイトの利用に関し他者から本サイトにクレーム・請求等がなされ、
          かつ弊社が必要と認めた場合、又はその他の理由で不適当と弊社が判断した場合は、当該ユーザに対し、次のいずれか又はこれらを組み合わせた措置を講ずることができます。
          <ol>
            <li>本規約等に違反する行為又はそのおそれのある行為を止めること、及び同様の行為を繰り返さないことを要求し、これらを裁判上の差止請求として実現します。</li>
            <li>他者との間で、クレーム・請求等の解消のための協議（裁判外紛争解決手続きを含みます。）を行うことを要求します。</li>
            <li>ユーザーの強制退会を行います。</li>
            <li>ユーザが発信又は表示する情報の全部若しくは一部を削除し、又は他者が閲覧できない状態に置きます。</li>
          </ol>
        </li>
        <li>前項の規定は第１３条その他本規約等に定めるユーザの自己責任の原則を否定するものではありません。</li>
        <li>ユーザは、第1項の規定が弊社に同項に定める措置を講ずべき義務を課すものではないことを承諾します。また、ユーザは、弊社が第1項各号に定める措置を講じた場合に、当該措置に起因する結果に関し、弊社を免責するものとします。</li>
        <li>ユーザは、第1項の第4号の措置が、弊社の裁量により事前の通知なく行われることを承諾します。</li>
        <li>
          ユーザが本規約等に掲げる禁止事項に違反し、または、不正もしくは違法な行為を行ったことにより弊社または第三者に損害が生じた場合、
          ユーザはその一切の損害（弁護士費用、弊社が第三者に行ったお詫びもしくは謝罪広告の費用を含む）を弊社に賠償する責任を負います。
        </li>
        <li>
          会員が第１５条第１項第１４号に違反し、本サイトを介さずに直接取引（直接取引を誘引した場合、または直接取引の誘因に応じた場合を含む）をした場合には、
          会員は前項に定める損害賠償金とは別に、違約金として、当該行為がなければ支払われていたと推定される第10条で定める弊社手数料の2倍に
          相当する金額（その額が100万円に満たない場合は100万円）を支払うものとします。
        </li>
        <li>
          ユーザが本規約等に掲げる禁止事項に違反して第5条の措置がとられた場合は、弊社は、違約金として1項に定める損害賠償金とは別に、
          第５条の措置の時点で当該会員に支払われることとなっていた金銭のうち、第10条に定める弊社手数料の2倍に相当する金額を、当該会員から没収できるものとします。
        </li>
      </ol>
    </div>
    <div class="terms-block">
      <h3>第２１条　個人情報の収集目的</h3>
      <ol>
        <li>弊社は、本規約のほか、プライバシーポリシーに従って個人情報等を取り扱います。</li>
        <li>ユーザーは、本サイトの利用又は本サイトの閲覧の前に、本サイト上で、プライバシーポリシーを必ず確認し、その内容に同意した上で、本サイトを利用するものとします。</li>
      </ol>
    </div>
    <div class="terms-block">
      <h3>第２２条　免責事項</h3>
      <ol>
        <li>弊社の債務不履行責任は，弊社の故意または重過失によらない場合には免責されるものとします。</li>
        <li>会員が利用した機器・回線・ソフトウェア等により生じた責任及び損害、並びに、会員が本サイトを利用する上での過誤による責任及び損害は、会員が負うものとし、弊社は会員の故意や過失の有無を問わず、一切責任を負いません。</li>
        <li>
          弊社は、本サイトに関連するコンテンツの中に、コンピュータウィルス等が含まれていないことについても、一切保証しないものとします。
          弊社は、本サイトに関連するコンテンツの中に、コンピュータウィルス等が含まれていたことにより生じた一切の損害について、直接損害か間接損害か、予見できたか否かを問わず、ユーザ及び第三者に対して一切責任を負いません。
        </li>
        <li>弊社は，本サイトに関して，ユーザーと他のユーザーまたは第三者との間において生じた取引，連絡または紛争等について一切責任を負いません。</li>
        <li>
           弊社は、弊社による本サービス提供の中断、停止、終了、利用不能又は変更、登録ワーカーのメッセージ又は情報の削除又は消失､登録ワーカーの登録の取消、本サービスの利用によるデータの消失又は機器の故障若しくは損傷、
           その他本サービスに関連して登録ワーカーが被った損害につき、賠償する責任を一切負わないものとします。
        </li>
        <li>
          弊社は、本サイトに関連してユーザ間、会員間又は会員若しくはユーザと第三者間で発生した一切のトラブルについて、一切の責任を負わず、関知しません。
          万一トラブルが生じた場合は、訴訟内外を問わず当事者間で解決するものとし、当該トラブルにより弊社が損害を被った場合は、当事者は連帯して弊社に対し、
          弊社に生じた弁護士費用を含むすべての費用及び当該損害を賠償するものとします。
        </li>
        <li>
          前各項にかかわらず、何らかの理由で弊社がユーザに対し損害賠償の責を負う場合においても、弊社の責任は、当該ユーザに関し弊社が受領した手数料その他の金額の総額を上限とします。
        </li>
      </ol>
    </div>
    <div class="terms-block">
      <h3>第２３条　連絡又は通知</h3>
      <ol>
        <li>弊社が会員への連絡又は通知の必要がある場合には、登録されたメールアドレス宛にメールするか、登録された住所宛に郵送することによって、連絡又は通知を行います。</li>
        <li>ユーザーは、原則としてメール又はお問い合わせフォームより弊社への連絡を行うものとします。電話による連絡及び来訪は受け付けておりません。</li>
      </ol>
    </div>
    <div class="terms-block">
      <h3>第２４条　準拠法・管轄裁判所</h3>
      <ol>
        <li>本規約は日本法に基づき解釈されるものとし、本規約の一部が無効な場合でも、適用可能な項目については効力があるものとします。</li>
        <li>ユーザと弊社の間で訴訟の必要が生じた場合、札幌地方裁判所をユーザと弊社の第一審の専属的合意管轄裁判所とします。</li>
      </ol>
    </div>
    <div class="terms-data">
      2017年5月7日制定
    </div>
  </div>
</section>
