<% provide(:title, 'Verify Email Address') %>
<section class="worker-verify-email">
  <h1>Member registration have not ended yet.</h1>
  <h2>Thank you getting start with WorkerBook.<br>
    We send you an confirmation email.<br>
    Please check your email box and find attached the link.<br>
    And you must create your profile to order the creative job.
  </h2>
  <%= image_tag 'static_pages/verify_emails/worker.png', class: 'runningman' %>
</section>
