<% provide(:title, '確認メール送信') %>
<section class="worker-verify-email">
  <h1>会員登録はまだ完了しておりません。</h1>
  <h2>WorkerBookにご登録していただきありがとうございます。
    ただいま、確認メールを送信いたしました。メールボックスを確認の上、登録を完了させてください。<br>
    また、クライアントからの受注を受けたい場合は、プロフィール登録を完了する必要があります。
  </h2>
  <%= image_tag 'static_pages/verify_emails/worker.png', class: 'runningman' %>
</section>
