.main-contents {
  h1 {
    color: $color-sub1;
    font-size: 1.6em;
    text-align: center;
  }

  h3 {
    margin-bottom: 3vh;
  }

  .form-control {
    @include basic_form_style_sp();
  }

  .logo {
    margin-bottom: 10vh;

    .logo-img {
      img {
        border-radius: 50%;
        border: 1px solid $color-main;
        display: block;
        height: 80px;
        margin: 0 auto;
        width: 80px;
      }
    }

    .upload {
      color: $color-sub2;
      cursor: pointer;
      font-size: 1.2em;
      margin: 2vh;
      text-align: center;
    }

    .img-upload {
      display: none;
    }

    .mess {
      font-size: 1.1em;
    }
  }
}
