<% if signed_in? %>
  <% title = 'Reset' %>
  <% provide(:title, "#{title} password") %>
<% else %>
  <% title = 'Forgot' %>
  <% provide(:title, "#{title} password") %>
<% end %>

<selction class="forgot-pass">
  <div class="container">
    <div class="row">
      <div class="forgot-pass-form col-md-8 col-md-offset-2">
        <h1><%= title %> your password?</h1>
        <p>
          パスワードを再設定するには、WorkerBookのログインに使用しているメールアドレスが必要となります。
        </p>
        <%= form_for(:password_reset, url: password_resets_path) do |f| %>
          <%= f.email_field :email, class: 'form-control', placeholder: 'Email', autocomplete: 'off' %>
          <%= f.submit "Send an email", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</selction>
