.client-page {
  display: block;
  width: 100%;

  h2 {
    color: $color-main;
    font-size: 1.5em;
    font-weight: bold;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  .section {
    border-top: 2px solid $color-sub1;
    color: $color-main;
    display: block;
    float: none;
    margin: 50px auto 30px;
    width: 90%;
  }

  .body {
    background-color: $color-sub3;
    padding: 4vh 0;
    margin-top: 3vh;
    margin-bottom: 3vh;

    .logo {
      img {
        border-radius: 50%;
        border: 1px solid $color-main;
        display: block;
        height: 80px;
        margin: 0 auto;
        width: 80px;
      }
    } // face

    .update-profile {
      a {
        text-decoration: none;
        .btn {
          background-color: $color-main;
          border: none;
          display: block;
          font-size: .8em;
          margin: 2vh auto 0;
          width: 50%;
        }
      }
    }

    .info {
      color: $color-sub2;
      font-size: 1.4em;
      margin-top: 5vh;

      h2 {
        margin-bottom: 0;
        text-align: center;
      }

      a {
        text-decoration: none;

        p {
          color: $color-sub2;
          cursor: pointer;
          display: block;
          font-size: 1em;
          padding: 0;
          text-align: center;
        }
      }

      ul {
        li {
          color: $color-main;
          padding: 0 5%;

          a {
            color: $color-sub2;
            text-decoration: none;
          }
        }
      }
    } // info

    .users {
      a {
        color: $color-main;
        text-decoration: none;
      }

      .user-list {
        border-bottom: 1px solid $color-main;
        display: flex;

        div {
          font-size: 1.3em;
          padding: 3vh 2% 0;
          width: 50%;
        }

        .username {
          display: none;
        }
      }
    } // users

    .order-contents {
      h2 {
        display: inline-block;
      }

      a {
        color: $color-main;
        font-size: 1.3em;
        text-decoration: none;
      }

      .job-content-list {
        border-bottom: 1px solid $color-main;
        display: flex;

        div {
          padding: 3vh 2% 0;
        }

        .title-key {
          display: none;
        }

        .job-content-title {
          width: 75%;
        }

        .delete-link {
          width: 25%;
        }
      }
    }
  }
  @import 'sp/clients/commons/description';
}

.modal-content {
  .modal-footer {
    .btn {
      font-size: .8em;
      margin-bottom: 0;
      width: 30%;
    }
  }
}
