<% provide(:title, 'Update client profile') %>

<section class="clients-profile profile" id="update-client-profile">
  <div class="container">
    <div class="row">
      <div class="form col-md-8 col-md-offset-2">
        <div class="main-contents">
          <h1>Update Profile</h1>
          <%= render 'client_profiles/commons/form', { action: 'update', button: '変更を保存' } %>
        </div>
      </div>
    </div>
  </div>
</section>
