<% provide(:title, 'Create client profile') %>

<section class="clients-profile profile" id="create-client-profile">
  <div class="container">
    <div class="row">
      <div class="form col-md-8 col-md-offset-2">
        <div class="welcom-msg">
          <h2><%= @client.username %>さん　Welcome to WorkerBook!</h2>
          <p>
            この度はWorkerBookにご登録いただきありがとうございます。<br>ワーカーへ仕事を発注するにはプロフィールを登録していただく必要がございます。
          </p>
        </div>
        <div class="main-contents">
          <h1>Create Profile</h1>
          <%= render 'client_profiles/commons/form', { action: 'create', button: '詳細登録' } %>
        </div>
      </div>
    </div>
  </div>
</section>
