.footer{
  background-color: $color-sub1;
  height: 400px;
  position: relative;

  .text-box{
    font-size: .7em;
    padding-top: 8vh;

    .footer-col {
      float: left;
      width: 50%;

      ul {
        li {
          line-height: 20px;
        }
      }

      a {
        color: $color-sub3;
        text-decoration: none;
      }

      .sns-img{
        height: auto;
        margin: 0 2%;
        width: 20px;
      }
    }
  }

  .copyright{
    bottom: 30px;
    color: $color-sub3;
    clear: both;
    position: absolute;
    text-align: center;
    width: 100%;

    .service-title {
      font-size: .6em;
    }
  }
}
