@mixin basic_validate_error {
  .alert {
    margin: 0 0 2vh;
    padding: 0;
    text-align: left;

    ul {
      padding: 10px 15px;
      margin: 0;

      li {
        color: $color-warning;
        list-style-type: disc;
        margin-left: 15px;
      }
    }
  }
}

// 全体のalert
.alert {
  margin: 0;
  text-align: center;
}

// sign up error alert
.signup-form {
  @include basic_validate_error();
}

// create worker profile error message
.workers-profile {
  @include basic_validate_error();
}

// profile validation error message
.client-profile {
  @include basic_validate_error();
}

.inquiry {
  @include basic_validate_error();
}
