// 全体のalert
.alert {
  margin: 25px 0 0;
  text-align: center;
}

// sign up error alert
.signup-form {
  .alert {
    background-color: $color-sub3;
    border: none;
    margin: 10px 0 15px;
    padding: 0;
    text-align: left;

    ul {
      padding: 10px 15px;
      margin: 0;

      li {
        color: $color-warning;
        list-style-type: disc;
        margin-left: 15px;
      }
    }
  }
}

// sign up validation error message
.workers-profile {
  .alert {
    margin: 10px 0 15px;
    padding: 0;
    text-align: left;

    ul {
      padding: 10px 15px;
      margin: 0;

      li {
        color: $color-warning;
        list-style-type: disc;
        margin-left: 15px;
      }
    }
  }
}
