.signup-form {
  .last-name-form {
    position: relative;

    &:hover {
      .last-name {
        display: block;
      }
    }
  }

  .last-name {
    @include info_box($top: -20px);

    &:after {
      @include info_box_after($top: 12px);
    }

    p {
      margin: 0;
      strong {
        font-size: 18px;
      }
    }
  }

  .first-name-form {
    position: relative;

    &:hover {
      .first-name {
        display: block;
      }
    }
  }

  .first-name {
    @include info_box($top: -20px);

    &:after {
      @include info_box_after($top: 12px);
    }

    p {
      margin: 0;
      strong {
        font-size: 18px;
      }
    }
  }

  .username-form {
    position: relative;

    &:hover {
      .username {
        display: block;
      }
    }
  }

  .username {
    @include info_box($top: -20px);

    &:after {
      @include info_box_after($top: 12px);
    }

    p {
      margin: 0;
      strong {
        font-size: 18px;
      }
    }
  }

  .email-form {
    position: relative;

    &:hover {
      .email {
        display: block;
      }
    }
  }

  .email {
    @include info_box($top: -20px);

    &:after {
      @include info_box_after($top: 12px);
    }

    p {
      margin: 0;
      strong {
        font-size: 18px;
      }
    }
  }

  .password-form {
    position: relative;

    &:hover {
      .password {
        display: block;
      }
    }
  }

  .password {
    @include info_box($top: -20px);

    &:after {
      @include info_box_after($top: 12px);
    }

    p {
      margin: 0;
      strong {
        font-size: 18px;
      }
    }
  }

  .confirmation-form {
    position: relative;

    &:hover {
      .confirmation {
        display: block;
      }
    }
  }

  .confirmation {
    @include info_box($top: -20px);

    &:after {
      @include info_box_after($top: 12px);
    }

    p {
      margin: 0;
      strong {
        font-size: 18px;
      }
    }
  }
}
