.footer{
  background-color: $color-sub1;

  .text-box{
    font-size: 15px;
    padding: 70px 0;

    ul {
      text-align: center;

      li {
        display: inline-block;
        padding-left: 50px;
        list-style: none;

        &:first-child {
          padding: 0;
        }

        a {
          color: $color-sub3;

          &:hover {
            text-decoration: none;
            border-bottom: 1px solid $color-main;
          }
        }
      }
    }
  }
  .sns-links {
    text-align: center;
    margin-top: 20px;

    .twitter {
  		width: 40px !important;
  	}

  	.sns-img{
  		width: 30px;
  		height: auto;
  		margin: 0 20px;
  	}
  }
  .copyright{
    margin: 0;
    padding: 20px 0;
		color: $color-sub3;
		text-align: center;
	}
}
