h2 {
  color: $color-main;
  font-size: 1.5em;
  font-weight: bold;
}

p {
  border-bottom: 2px solid $color-main;
  color: $color-main;
  display: block;
  font-size: .9em;
  padding: 5px 10px;
  width: 80%;
}

.section {
  color: $color-main;
  display: block;
  float: none;
  margin: 2vh auto;
  width: 90%;
}

.pay {
  h4 {
    display: inline-block;
    padding: 3px 15px;
  }

  p {
    display: inline-block;
    margin-left: 10px;
    width: 40%;
  }
}

.content, .experience-seeking {
  p {
    border: none;
    width: 100%;
  }
}

.skill-seeking {
  clear: both;
  padding-top: 15px;
  ul {
    display: inline-block;

    li {
      background-color: $color-sub2;
      border: 1px solid $color-main;
      border-radius: 3px;
      color: $color-sub3;
      font-size: .7em;
      float: left;
      padding: 3px 10px;
      margin: 3px 5px;
    }
  }
}
