<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= I18n.t('errors.messages.validates_count_message', count: object.errors.count ) %>
      <ul>
        <% object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
