<% if object.errors.full_messages_for(field).any? %>
  <div id="error_explanation" class="validation-error">
    <div class="alert alert-danger">
      <ul>
        <% object.errors.full_messages_for(field).each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
