<ul class="step-bar">
  <li class="step">
    <div class="step-num <%= first %>">1</div>
    <p class="step-title">アカウント登録</p>
  </li>
  <li class="step">
    <div class="step-num <%= second %>">2</div>
    <p class="step-title">プロフィール登録</p>
  </li>
  <li class="step">
    <div class="step-num">3</div>
    <p class="step-title">コンプリート</p>
  </li>
</ul>
