.footer{
  background-color: $color-sub1;
  height: 430px;
  position: relative;

  .text-box{
    font-size: 1em;
    padding-top: 10vh;

    .footer-col {
      float: left;
      padding-left: 8%;
      width: 33.33%;

      li {
        line-height: 30px;
      }

      a {
        color: $color-sub3;
        text-decoration: none;

        &:hover {
          color: $color-main;
        }
      }

      .sns-img{
        height: auto;
        margin: 0 2%;
        width: 5%;
      }
    }
  }

  .copyright{
    bottom: 30px;
    color: $color-sub3;
    clear: both;
    position: absolute;
    text-align: center;
    width: 100%;
  }
}
