.type-past-performance {
  margin-bottom: 50px;
  position: relative;

  &:hover {
    .past-performance-info {
      display: block;
    }
  }

  .past-performance-info {
    @include info_box($top: 65px);

    &:after {
      @include info_box_after($top: 40px);
    }

    p {
      margin: 0;
    }

    strong {
      font-size: 20px;
    }
  }

  .past-performance-warning {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .form-control {
    @include text_field;
  }

  .past-performance3, .past-performance4 {
    display: none;
  }
}
