.upload-picture {
  margin-bottom: 50px;
  position: relative;

  &:hover {
    .picture-info {
      display: block;
    }
  }

  .picture-info {
    @include info_box($top: 80px);

    &:after {
      @include info_box_after($top: 40px);
    }

    p {
      margin: 0;
    }

    strong {
      font-size: 20px;
    }
  }

  .worker-picture {
    border: 1px solid $color-main;
    border-radius: 50%;
    position:relative;
    width: 130px;
    height: 130px;
    overflow: hidden;
    .pic-size {
      cursor: pointer;
      height: 150px;
      left: -9px;
      position: absolute;
      top: -12px;
      width: 150px;
    }
  }

  .upload {
    color: $color-sub2;
    cursor: pointer;
    font-size: 1.2em;
    margin: 2vh;
    text-align: center;
  }

  .img-upload {
    display: none;
  }.upload {
    color: $color-sub2;
    cursor: pointer;
    font-size: 1.2em;
    margin: 2vh;
    text-align: center;
  }

  .picture-upload {
    display: none;
  }

  .mess {
    font-size: 1.1em;
    margin: 5vh 0 2vh 3vw;
  }
}
