.wb-guide {
  h2 {
    color: $color-main;
    font-size: 2em;
    margin: 10vh 0 2vh;
    text-align: center;
  }

  p {
    color: $color-main;
    font-size: 1.2em;
    text-align: center;
  }

  .area-frame {
    margin: 10vh 0;

    a {
      text-decoration: none;
    }

    .area {
      margin-bottom: 25px;

      .contents {
        border: 1px solid $color-main;
        border-radius: 3px;
        display: block;
        height: 200px;
        margin: 0 auto;
        width: 99%;

        &:hover {
          .caption {
            color: $color-sub1;
          }
        }

        .icon-height {
          display: block;
          margin: 35px auto 10px;
          height: 100px;
          width: 80px;
        }

        .icon-width {
          display: block;
          margin: 35px auto 10px;
          height: 80px;
          width: 100px;
        }

        .caption {
          color: $color-main;
          font-size: 1.4em;
          letter-spacing: 1.5px;
          text-align: center;
        }
      }
    }
  }
}

.how-it-work {
  color: $color-main;
  display: block;
  margin: 10vh auto;
  width: 80vw;

  .title-en {
    color: $color-main;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
  }

  .title-ja {
    @include title_ja;
  }

  .img-size {
    display: block;
    max-width: 280px;
    max-height: 190px;
    margin: 0 auto;
  }

  .client {
    border-bottom: 2px solid $color-main;
    margin-bottom: 10vh;
    padding-bottom: 5vh;
  }

  .flow-title {
    border-bottom: 1px solid $color-main;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    padding: 1vh 0;
  }

  .flow {
    margin-bottom: 20px;
    .odd {
      padding-left: 5vw;
    }
    .explanation {
      h4 {
        font-size: 1.9em;
        font-weight: bold;
        margin-bottom: 3vh;
      }

      p {
        font-size: 1.3em;
      }
    }
  }
}
