default: &default
  adapter: mysql2
  encoding: utf8
  charset: utf8
  reconnect: false
  collation: utf8_general_ci
  pool: 5
  username: workerbook
  password: workerbook
  socket: /tmp/mysql.sock

development:
  <<: *default
  database: workerbook_development

test:
  <<: *default
  database: workerbook_test

staging:
  <<: *default
  database: workerbook_staging

production:
  <<: *default
  database: workerbook_production
