<% provide(:title, '404 Error') %>

<session class="error-404">
  <h1>Not Found!! This page was broken.</h1>

  <div class="links">
    <p><%= link_to 'Home', root_path %></p>
    <p><%= link_to 'Sign In', sign_in_path %></p>
    <p><%= link_to 'Workerを探す', root_path %></p>
  </div>
</session>
