@mixin title_ja {
  color: $color-main;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
}

// introbody
.introbody {
  border-top: none;
  background-color: black;
  height: 87.6vh;

  .img-size {
    display: block;
    max-width: 280px;
    max-height: 190px;
    margin: 13vh auto 6vh;
    opacity: .6;
  }

  h2 {
    color: $color-main;
    font-size: 2em;
    font: lighter;
    letter-spacing: 2px;
    text-align: center;
  }
}


.link-btn {
  background: $color-sub1;

  a {
    color: $color-sub3;
    text-decoration: none;

    .link {
      border-top: 1px solid $color-main;
      font-size: 1.2em;
      padding: 2vh 5vh;
    }
  }
}

.what-wb {
  border-bottom: 2px solid $color-main;

  h1 {
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
  }

  p {
    display: block;
    margin: 0 auto;
  }
}

.session-style {
  color: $color-main;
  overflow: hidden;
  margin: 10vh auto;
  padding-bottom: 5vh;
  width: 80vw;

  .title-ja {
    @include title_ja;
  }

  h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }

  p {
    font-size: 1em;
    margin-bottom: 30px;
  }
}

.sp-none {
  display: none;
}
