.select-user-type {
  background-color: $color-main;

  h2 {
    color: $color-sub3;
    font-size: 1.4em;
    margin: 7vh 0;
    text-align: center;
  }

  .area-frame {
    .area {
      background-color: $color-sub3;
      display: block;
      margin: 0 auto 5vh;
      width: 100;

      .contents {
        .icon {
          display: block;
          margin: 30px auto 30px;
          height: 100px;
          width: 80px;
        }

        .caption {
          color: $color-main;
          font-size: 1.1em;
          font-weight: bold;
          margin-bottom: 3vh;
          text-align: center;
        }
      }
    }
  }
}

.how-it-work {
  color: $color-main;
  display: block;
  margin: 10vh auto;
  width: 80vw;

  .title-en {
    @include title_en;
  }

  .title-ja {
    @include title_ja;
  }

  .img-size {
    display: none;
  }

  .flow-title {
    display: none;
  }

  .flow {
    margin-bottom: 20px;
    .odd {
      padding-left: 5vw;
    }
    .explanation {
      h4 {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 3vh;
      }

      p {
        font-size: 1.3em;
      }
    }
  }

  .btn {
    font-size: .8em;
  }
}
