.how-it-work {
  color: $color-main;
  display: block;
  margin: 10vh auto;
  width: 90%;

  .title-en {
    color: $color-main;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
  }

  .title-ja {
    @include title_ja;
  }

  .img-size {
    display: none;
  }

  .flow-title {
    display: none;
  }

  .flow {
    margin-bottom: 20px;
    .odd {
      padding-left: 5vw;
    }
    .explanation {
      h4 {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 3vh;
      }

      p {
        font-size: 1.2em;

        a {
          color: $color-sub2;
        }
      }
    }
  }

  .btn {
    font-size: .8em;
  }
}
