.wb-guide {
  h2 {
    color: $color-main;
    font-size: 1.8em;
    margin: 10vh 0 2vh;
    text-align: center;
  }

  p {
    color: $color-main;
    font-size: 1em;
    text-align: center;
  }

  .area-frame {
    margin: 4vh 0;

    a {
      text-decoration: none;
    }

    .area {
      margin-bottom: 25px;

      .contents {
        border: 1px solid $color-main;
        border-radius: 3px;
        display: block;
        height: 180px;
        margin: 0 auto;
        width: 99%;

        .icon-height {
          display: block;
          margin: 35px auto 10px;
          height: 90px;
          width: 70px;
        }

        .icon-width {
          display: block;
          margin: 35px auto 10px;
          height: 70px;
          width: 90px;
        }

        .caption {
          color: $color-main;
          font-size: 1.2em;
          letter-spacing: 1.5px;
          text-align: center;
        }
      }
    }
  }
}

.how-it-work {
  color: $color-main;
  display: block;
  margin: 10vh auto;
  width: 80vw;

  .title-en {
    color: $color-main;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
  }

  .title-ja {
    @include title_ja;
  }

  .img-size {
    display: none;
  }

  .flow-title {
    display: none;
  }

  .flow {
    margin-bottom: 20px;
    .odd {
      padding-left: 5vw;
    }
    .explanation {
      h4 {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 3vh;
      }

      p {
        font-size: 1.3em;
      }
    }
  }

  .btn {
    font-size: .8em;
  }
}
