// introbody
.introbody {
  background-size: 350px 390px;
  background-image: url('static_pages/top_book.png');
  background-repeat: no-repeat;
  background-color: $color-main;
  background-position: center 100px;
  height: auto;

  .service-name {
    color: $color-sub3;
    font-size: 130px;
    font-weight: bold;
    margin: 0;
    padding-top: 200px;
    text-align: center;
    z-index: 100;
  }

  .buttons {
    padding: 20px 0 40px;

    ul {
      font-size: 0;
      padding: 0;
      text-align: center;
      margin-top: 22vh;

      li {
        background-color: $color-sub3;
        border: 1px solid $color-main;
        color: $color-main;
        display: inline-block;
        padding: 3vh 25px;
        font-size: 20px;
        font-weight: bold;
        width: 220px;

        &:hover {
          background-color: $color-sub2;
          color: $color-sub3;
          opacity: .7;
        }
      }
    }
  }
}

// wb-explanation
.wb-explanation {
  color: $color-main;
  padding: 10vh 0;

  .title-ja {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
  }

  .title-en {
    text-align: center;
    font-weight: lighter;
  }

  .content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 35px 0 45px;

    p {
      font-size: 28px;
      font-weight: bold;
      text-align: left;
    }
  }

  .wb-impossible {
    border: 2px solid $color-main;
    border-radius: 3px;
    padding-bottom: 4vh;

    .title {
      text-align: center;
      font-weight: bold;
    }

    .contents {
      margin-left: 55px;

      li {
        list-style-type: disc;
        padding-top: 10px;
        font-size: 18px;
      }
    }
  }

  .wb-detail {
    margin-top: 10vh;
    a {
      color: $color-main;
      text-decoration: none;
    }

    .btn {
      background-color: $color-sub3;
      border: 2px solid $color-main;

      &:hover {
        background-color: $color-main;
        color: $color-sub3;
      }
    }
  }
}

// how-it-work
.how-it-work {
  background-color: $color-sub2;
  padding: 15vh 0;

  .img-size {
    max-width: 180px;
    max-height: 130px;
    display: block;
    margin: 15px auto;
  }

  .title-en {
    color: $color-sub3;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
  }

  .title-ja {
    color: $color-sub3;
    text-align: center;
    font-weight: lighter;
  }

  .client-flow {
    margin: 40px 0;
    background-color: $color-sub3;

    .header {
      background-color: $color-main;
      height: 70px;

      .title {
        color: $color-sub3;
        font-weight: bold;
        line-height: 70px;
        text-align: center;
      }
    }

    .contents {
      .text {
        color: $color-main;

        h3 {
          font-weight: bold;
          text-align: center;
        }

        p {
          display: block;
          font-size: 20px;
          padding: 10px 0;
          margin: 0 auto;
          width: 220px;
        }
      }
    }
  }
  .worker-flow {
    margin-top: 30px;
    background-color: $color-sub3;

    .header {
      background-color: $color-main;
      height: 70px;

      .title {
        color: $color-sub3;
        font-weight: bold;
        line-height: 70px;
        text-align: center;
      }
    }

    .contents {
      .text {
        color: $color-main;

        h3 {
          font-weight: bold;
          text-align: center;
        }

        p {
          display: block;
          font-size: 20px;
          padding: 10px 0;
          margin: 0 auto;
          width: 250px;
        }
      }
    }
  }
}

// find workers
.find-workers {
  color: $color-main;
  padding: 10vh 0;

  .title-ja {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
  }

  .title-en {
    text-align: center;
    font-weight: lighter;
  }

  .developer-types {
    margin-top: 50px;

    .row {
      margin: 0 auto;
      width: 900px;
      .type {
        border: 1px solid $color-main;
        height: 165px;

        a {
          color: $color-main;
          text-decoration: none;

          &:hover .name {
            border-bottom: 2px solid $color-sub2;
          }

          .img-size {
            max-width: 130px;
            height: 80px;
            display: block;
            margin: 15px auto 10px;
          }

          .name {
            font-size: 20px;
            text-align: center;
            margin-top: 15px;
          }
        }
      }
    }
  }
}
