@mixin title_en {
  color: $color-main;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

@mixin title_ja {
  color: $color-main;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
}

// introbody
.introbody {
  border-top: none;
  background-color: $color-main;
  height: 87.6vh;

  .top-left {
    color: $color-sub3;
    padding-top: 100px;
    padding-left: 50px;

    h2 {
      font-size: 2.7em;
      font-weight: bold;
    }

    h1 {
      font-size: 3em;
      font-weight: bold;
    }

    p {
      font-size: 1.8em;
      line-height: 40px;
      margin-top: 50px;
    }
  }

  .top-right {
    height: 87.6vh;
    background-image: linear-gradient(-44.4deg, $color-sub3 50%, $color-main 50%, $color-main);

    .link-btn {
      bottom: 30px;
      position: absolute;
      right: 0;

      .top-btn {
        display: block;
        padding-left: 50px;
      }

      .bottom-btn {
        display: block;
        padding-right: 100px;
      }

      a {
        color: $color-main;
        font-weight: bold;
        text-decoration: none;

        &:hover .circle-btn{
          background-color: $color-main;
          color: $color-sub3;

          span:nth-child(2) {
            display: inline;
          }

          span:nth-child(1) {
            display: none;
          }
        }

        .circle-btn {
          border: 2px solid $color-main;
          border-radius: 50%;
          display: inline-block;
          height: 90px;
          line-height: 90px;
          margin: 0 0 10px 20px;
          text-align: center;
          width: 90px;

          span:nth-child(2) {
            display: none;
          }
        }
      }
    }
  }
}

.wb-features {
  border-bottom: 2px solid $color-main;
  color: $color-main;
  overflow: hidden;
  margin: 10vh auto;
  padding-bottom: 5vh;
  width: 80vw;

  .title-en {
    @include title_en;
  }

  .title-ja {
    @include title_ja;
  }

  h4 {
    font-size: 1.4em;
    font-weight: bold;
  }

  p {
    font-size: 1.3em;
  }
}

// how-it-work
.how-it-work {
  color: $color-main;
  display: block;
  margin: 10vh auto;
  width: 80vw;

  .title-en {
    @include title_en;
  }

  .title-ja {
    @include title_ja;
  }

  .img-size {
    display: block;
    max-width: 280px;
    max-height: 190px;
    margin: 0 auto;
  }

  .client {
    border-bottom: 2px solid $color-main;
    margin-bottom: 10vh;
    padding-bottom: 5vh;
  }

  .flow-title {
    border-bottom: 1px solid $color-main;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    padding: 1vh 0;
  }

  .flow {
    margin-bottom: 20px;
    .odd {
      padding-left: 5vw;
    }
    .explanation {
      h4 {
        font-size: 1.9em;
        font-weight: bold;
        margin-bottom: 3vh;
      }

      p {
        font-size: 1.3em;
      }
    }
  }
}
