.upload-picture {
  margin-bottom: 50px;

  .worker-picture {
    img {
      border-radius: 50%;
      border: 1px solid $color-main;
      cursor: pointer;
      display: block;
      height: 130px;
      line-height: 130px;
      margin: 0 auto;
      width: 130px;
    }
  }

  .upload {
    color: $color-sub2;
    cursor: pointer;
    font-size: 1.2em;
    margin: 2vh;
    text-align: center;
  }

  .img-upload {
    display: none;
  }

  .upload {
    color: $color-sub2;
    cursor: pointer;
    font-size: 1.2em;
    margin: 2vh;
    text-align: center;
  }

  .picture-upload {
    display: none;
  }

  .mess {
    font-size: 1.1em;
    margin: 5vh 0 2vh 3vw;
  }
}
