.type-unit-price {
  margin-bottom: 50px;
  position: relative;

  &:hover {
    .unit-price-info {
      display: block;
    }
  }

  .unit-price-info {
    @include info_box($top: 20px);

    &:after {
      @include info_box_after($top: 20px);
    }

    p {
      margin: 0;
    }

    strong {
      font-size: 1.6em;
    }
  }

  .price {
    font-size: 1.2em;
    margin-bottom: 15px;
  }

  .sub-title {
    font-size: 1.1em;
  }

  .view-box {
    border-bottom: 1px solid $color-main;
    display: inline-block;
    letter-spacing: 1px;
    opacity: .6;
    padding: 15px 12px 6px;
    width: 30%;
  }

  .form-control {
    border: none;
    border-bottom: 3px solid $color-sub2;
    border-radius: 0;
    box-shadow: none;
    display: inline-block;
    font-size: 1.35em;
    font-style: italic;
    font-family: $font-family-main;
    letter-spacing: 1px;
    width: 35%;
  }
}
