<% provide(:title, 'Update worker profile') %>

<section class="workers-profile profile" id="update-worker-profile">
  <div class="container">
    <div class="row">
      <div class="form col-md-8 col-md-offset-2">
        <div class="main-contents">
          <h1>Update Profile</h1>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <%= render 'worker_profiles/commons/form', { action: 'update', button: 'Save changes' } %>
            </div>
          </div>
        </div><!-- .main-contents -->
      </div><!-- .form col-md-8 col-md-offset-2 -->
    </div><!-- .row -->
  </div><!-- .container -->
</section>
<%= javascript_include_tag 'worker_profiles/validators/skill_validator' %>
