h1, h2, h3, h4, h5, h6, p, a {
  font-family: myriad Pro;
}

ul {
  li {
    font-family: myriad Pro;
    list-style-type: none;
  }
}

ol {
  li {
    font-family: myriad Pro;
  }
}

.main-body {
  padding: 0;
  margin: 0;
  width: 100%;
}

.row {
  margin: 0;
}

.modal {
  padding-right: 0 !important;
}
