.error-404 {
  background-size: auto 450px;
  background-image: url(errors/error_404.png);
  background-position: center 80%;
  background-repeat: no-repeat;
  display: block;
  height: 90vh;

  h1 {
    color: $color-main;
    padding-top: 5%;
    text-align: center;
  }

  .links {
    a {
      color: $color-main;
      font-size: 24px;
      letter-spacing: 2px;
      line-height: 50px;
      text-decoration: none;
      &:hover {
        color: $color-sub2;
      }
    }
    padding-left: 550px;
    padding-top: 90px;
  }
}
