.error-500 {
  display: block;
  height: 90vh;

  h1 {
    color: $color-main;
    font-size: 250%;
    font-weight: bold;
    padding-top: 5%;
    text-align: center;
  }

  img {
    display: block;
    height: 45vh;
    margin: 4% auto 2%;
    width: 35%;

  }

  .link {
    pre {
      background-color: $color-sub3;
      border: none;
      color: $color-main;
      font-size: 160%;
      padding-right: 10%;
      text-align: right;

      a {
        color: $color-main;
        text-decoration: none;
        &:hover {
          color: $color-sub2;
        }
      }
    }
  }
}
