<% provide(:title, 'お問い合わせ完了') %>
<section class="inquiry-conplete">
  <div class="container">
    <div class="row">
      <h1>お問い合わせ送信完了</h1>
      <p>
        お問い合わせいただきありがとうございます。後日、担当者からご記入いただきました連絡先宛てにご回答を差しあげますので、今しばらくお待ちください。
        迅速な対応を心がけておりますが、場合によっては回答までにお時間がかかる場合もございます。予めご了承ください。
      </p>

      <p><%= link_to 'WorkerBookホームへ', root_path %></p>
    </div>
  </div>
</section>
