<div class="search-worker">
  <%= link_to '#' do %>
  <button type=button class="btn btn-primary">workerを探す</button>
  <% end %>
</div>

<div class="description">
  <h3>WorkerBookの使い方</h3>
  <ol>
    <li>ワーカーを探す</li>
    <li>発注内容を登録する</li>
    <li>発注する</li>
    <li>報酬を仮払いする</li>
    <li>仕事を始める</li>
    <li>成果物をチェックする</li>
  </ol>
</div>
