.sign-up {
  display: block;
  width: 100%;

  .signup-form {
    background-color: $color-sub3;
    margin-top: 4vh;
    padding: 4vh 0;

    h1 {
      font-size: 1.6em;
      text-align: center;
      margin-bottom: 5vh;
    }

    .comn-form {
      margin-bottom: 50px;
    }

    .form-control {
      @include basic_form_style_sp();
    }
  }
}
