.signup-form {
  .last-name {
    display: none;
    @include info_mess();
  }

  .first-name {
    display: none;
    @include info_mess();
  }

  .username {
    display: none;
    @include info_mess();
  }

  .email {
    display: none;
    @include info_mess();
  }

  .password {
    display: none;
    @include info_mess();
  }

  .confirmation {
    display: none;
    @include info_mess();
  }
}
